/*! resets */
	@import "compass/reset";
	@import "compass/css3";

/* vars */
$basefontsize: 14px; //raccapezzarsi con le unità di misura!!!
$baseline: $basefontsize*1.5;

//$basecolor: #BC8F8F; //rosybrown
$basecolor: #E2B48C; /* tan */
$dark:desaturate(darken($basecolor, 35), 30);
$light:desaturate(lighten($basecolor, 25), 10);
$accent:darken(saturate($basecolor, 50), 15);

/*! style */
body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: $basefontsize;
	background: desaturate(darken($basecolor, 50), 20);
	*{@include box-sizing(border-box);}
	a {
		color:$accent;
	}
}

header {
	background:$dark;
	color:$light;
	border:{
		width:0 1px;
		style:solid;
		color:(lighten($dark, 10));
	}
}
p{
	line-height:$baseline;
	margin-bottom:$baseline/2;
}
h1,h2,h3{
	line-height:$baseline*2;
	margin-bottom:$baseline
}

.content {
	background:$light;
	border:{
		width:0 1px;
		style:solid;
		color:(lighten($light, 10));
	}
}

#container {
	width:96%;
	margin:auto;
	border: 1px solid #000;
	header, .content {
	padding:$baseline;
	}
}


@media (min-width:700px) {
#container {max-width:600px;}
}

.list-item {
	padding:$baseline 0 $baseline/2;
	border-top: 1px solid $basecolor;
	&:last-child {
		border-top: 1px solid $basecolor;	
	}
	
}

.heading {
	font-weight:bold;
}

.tags {
	color:$light;
	font-size: 90%;
	text-align: justify;
	span {
		display:inline-block;
		padding:0 0.5rem;
		margin-bottom: 0.1rem;
		background: $basecolor;
		&:first-child {margin-left:0}
		&:last-child {margin-left:0}
	}
}
.tag0 {background: greyscale($basecolor)}

/*
darken(#8dd3c7, 20)}
darken(#ffffb3, 20)}
darken(#bebada, 20)}
darken(#fb8072, 20)}
darken(#80b1d3, 20)}
darken(#fdb462, 20)}
darken(#b3de69, 20)}
darken(#fccde5, 20)}
darken(#d9d9d9, 20)}
*/
span.tag0 {background: #177F75}
span.tag1 {background: #B6212D}
span.tag2 {background: #21B6A8}
span.tag3 {background: #B67721}
span.tag4 {background: #83422a}
span.tag5 {background: #e4493e}
span.tag6 {background: #94b664}
span.tag7 {background: #dba06c}
span.tag8 {background: #666666}



//temp
#chartview {background:#FFFAF0}

